h1, 
body,
p {
  font-family: sans-serif;
}
li {
  min-height: 27px;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px;
  list-style: none;
}
ul {
  margin: 20px 0 0 0;
  padding: 0;
}
.edit {
  color: white;
  background-color: green;
  padding: 5px 15px;
  float: right;
  border: none;

}
.delete {
  color: white;
  background-color: indianred;
  padding: 5px 15px;
  float: right;
  border: none;
  margin-left: 5px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type="text"]{
  border: 1px solid rgb(91, 54, 160);
  line-height: 30px;
}
input[type="text"]:focus {
  border: 1px solid rgb(91, 54, 160);
  text-shadow: none;
}

.button {
  color: white;
  background: rgb(91, 54, 160);
  line-height: 34px;
  border: none;
  padding: 0px 10px;
}

.list li, .list-done li {
  list-style: none;
  line-height: 31px;
  border-bottom: 1px solid #434343;
  background-color: #343434;
  padding: 0 3px;
  margin: 0;
  color: white;
}
h2,h3{
  color:#cfcfcf;
  font-weight: normal;
}
.list li button {
  float: right;
  margin: 2px;
  color: white;
  background: #d38105;
  border: none;
  line-height: 25px;;
 
}
.list li button.red{
  background-color: brown;
}
.list li button.green{
  background-color: rgb(56, 139, 8);
}
.list li button.yellow{
   background-color: #d38105;
}
ul.list, ul.list-done {
  padding: 0;
  border: 1px solid #DCDCDE;
  background-color:#FBFAFD;
}
ul.list-done {
  padding: 0;
  border: 1px solid rgb(160, 238, 181);
  background-color:rgb(197, 241, 191)
}
.list-done li {
  border-bottom: 1px solid rgba(122, 233, 150, 0.884);

}
#root {
width: 500px;
margin: 20px auto;;

}
.hide {
  display:none;
}
.show {
  display:block;
}
