body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  border: 1px solid rgb(91, 54, 160);
  line-height: 30px;
}

.button {
  color: white;
  background: rgb(91, 54, 160);
  line-height: 34px;
  border: none;
  padding: 0px 10px;
}

.list li, .list-done li {
  list-style: none;
 
  line-height: 31px;
  border-bottom: 1px solid #DCDCDE;
  padding: 0 3px;
  margin: 0;
}
.list li button {
  float: right;
  margin: 2px;
  color: white;
  background: #d38105;
  border: none;
  line-height: 25px;;
 
}
.list li button.red{
  background-color: brown;
}
.list li button.green{
  background-color: rgb(56, 139, 8);
}
.list li button.yellow{
   background-color: #d38105;
}
ul.list, ul.list-done {
  padding: 0;
  border: 1px solid #DCDCDE;
  background-color:#FBFAFD;
}
ul.list-done {
  padding: 0;
  border: 1px solid rgb(160, 238, 181);
  background-color:rgb(197, 241, 191)
}
.list-done li {
  border-bottom: 1px solid rgba(122, 233, 150, 0.884);

}
#root {
width: 500px;
margin: 20px auto;;

}
